body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
a{
    text-decoration: none;
}
.nav .accent:focus,
.nav .accent:hover {
    color: #404bbf
}
.logo {
   font-family: "Raleway", sans-serif;
   font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.accent {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
   font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
ul {
    list-style-type: none ;
}
.nav-tag {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.address {
    font-style: normal 
}
.page-nav .link:hover,
.page-nav .link:focus{
color: #404bbf;
}
.link {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
   font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal
}
.container {
    background: #2e2f42;
}
.title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
   font-size: 56px;
   line-height: 1.07;
   letter-spacing: 0.02em;
   text-align: center;
   color: #fff;
}
.nav .nav-tag:hover,
.nav .nav-tag:focus {
    color: #404bbf
}
.container .btn:hover,
.container .btn:focus {
    background-color: #404BBF
}
.btn {
    background: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
}

.caption  {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    text-transform: capitalize;
}
.list {
    background-color: #FFFFFF
}
.heading {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: #2e2f42;
}

.heading-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
    color: #434455;
}
.box-one {
    background-color: #F4F4FD;
}
.box-list {
    background-color: #FFFFFF;
}
.subject {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    text-transform: capitalize;
}


.logo-two {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.accent-two {
   font-family: "Raleway", sans-serif;
   font-weight: 700;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: #f4f4fd;
}
.text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
   font-size: 16px;
   line-height: 1.5;
  letter-spacing: 0.02em;
   color: #f4f4fd;
}
.box {
    background: #2e2f42;
}